/*===============header  */

/* media queries */
@media screen and (min-width: 700px) {
  .header__container {
    justify-content: flex-start;
  }

  .header__image {
    margin-right: 30px;
  }
}

/*===============Main  */

.products__link {
  display: none;
}
