input[type="text"],
input::placeholder,
label {
  font-family: var(--font-raleway);
}

.header {
  width: 100%;
  height: 72px;
  min-width: 300px;
}

.header__container {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header__checked {
  display: none;
}

.header__image {
  width: 100px;
  height: 28px;
}

.header__cta {
  color: var(--color-primary);
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  line-height: 40px;
}

.header__cta:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.header__search {
  position: relative;
  height: 72px;
  padding-left: 8px;
}

.search {
  background-color: var(--color-background);
  position: relative;
  top: 15px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.search__input {
  color: var(--color-placeholder);
  width: 86%;
  padding-left: 10px;
  background-color: transparent;
  border: none;
  outline: none;
}

.search__input::placeholder {
  color: var(--color-placeholder);
  font-size: 0.875rem;
}

.search__label {
  position: absolute;
  top: 24px;
  right: 5px;
}

.search__icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#header__checked:checked ~ * .search {
  display: flex;
}

#header__checked:checked ~ * .header__cta {
  display: none;
}

.form__button {
  opacity: 0.5;
}

.aside {
  background-color: #000000;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside p {
  font-family: var(--font-raleway);
  color: var(--color-white);
  padding-right: 10px;
  font-size: 1.2rem;
}

.aside i {
  color: var(--color-white);
  font-size: 2.1rem;
}

@media screen and (min-width: 700px) {
  .hidden {
    display: flex;
  }

  .header__logo {
    margin-right: 20px;
  }

  .header__login {
    order: 1;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  .header__search {
    width: 272px;
    padding-left: 0;
  }

  .disabled {
    display: none;
  }

  #header__checked:checked ~ * .header__cta {
    display: block;
  }
}

@media screen and (min-width: 1100px) {
  .header__image {
    width: 176px;
    height: 50px;
  }

  .header__search {
    width: 393px;
  }
}

.banner {
  color: var(--color-white);
  position: relative;
  width: 100%;
  min-width: 300px;
  height: 192px;
  background-image: url(/assets/images/hero.webp);
  background-position: center;
  background-size: cover;
}

.banner__text {
  font-family: var(--font-raleway);
  position: absolute;
  bottom: 20px;
}

.banner__title {
  font-size: 1.375rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.banner__paragraph {
  margin-bottom: 7px;
  font-size: 0.875rem;
  font-weight: 600;
}

.banner__cta {
  width: 118px;
  line-height: 40px;
}

.products__container {
  font-family: var(--font-raleway);
  min-width: 300px;
  padding-top: 20px;
}

.products {
  width: 100%;
  margin-bottom: 20px;
}

.products__texts {
  height: 26px;
  display: flex;
  justify-content: space-between;
}

.products__title {
  color: var(--color-secondary);
  font-size: 1.375rem;
}

.products__link {
  color: var(--color-primary);
  font-size: 0.875rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.products__link:hover {
  color: var(--color-secondary);
}

.products__link i {
  font-size: 1.2rem;
  padding-left: 5px;
}

.products__message {
  color: var(--color-secondary);
  padding-bottom: 20px;
  text-align: center;
}

.cards {
  width: 100%;
  margin-top: 10px;
}

.cards__container {
  font-family: var(--font-raleway);
  color: var(--color-secondary);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
  justify-items: center;
}

.card {
  width: 156px;
}

.card__image {
  width: 100%;
  height: 200px;
}

.card__title {
  margin-top: 5px;
  font-size: 1rem;
}

.card__price,
.card__cta {
  font-size: 1.0625rem;
  font-weight: bold;
}

.card__price {
  margin-top: 6px;
}

.card__cta {
  display: inline-block;
  margin-top: 6px;
  color: var(--color-primary);
}

.card__cta:hover {
  color: var(--color-secondary);
}

@media screen and (min-width: 700px) {
  .banner {
    height: 352px;
  }

  .banner__text {
    bottom: 30px;
  }

  .banner__title {
    font-size: 3.25rem;
    margin-bottom: 15px;
  }

  .banner__paragraph {
    margin-bottom: 17px;
    font-size: 1.375rem;
  }

  .card {
    width: 164px;
  }
}

@media screen and (min-width: 1100px) {
  .products__container {
    padding-top: 40px;
  }

  .products__texts {
    height: 38px;
  }

  .products__title {
    font-size: 2rem;
  }

  .products__link {
    font-size: 1rem;
  }

  .products {
    margin-bottom: 40px;
  }
}

.footer {
  padding: 30px 0;
  background-color: #eaf2fd;
  min-width: 300px;
}

.footer__container,
.links__container {
  display: flex;
  flex-direction: column;
}

.links__container {
  align-items: center;
}

.link__logo {
  width: 176px;
  height: 50px;
}

.nav__ul {
  padding: 0;
  margin-top: 20px;
  text-align: center;
  font-size: 1rem;
  list-style: none;
}

.nav__ul a {
  font-family: var(--font-raleway);
  color: var(--color-secondary);
  font-weight: 600;
}
.nav__ul a:hover {
  color: black;
}

.nav__list {
  margin-bottom: 10px;
}

.form {
  margin-top: 20px;
  min-width: 300px;
}

.form__input--textarea {
  height: 80px;
  resize: none;
}

.form__input--textarea:focus ~ .form__line,
.form__input--textarea:not(:placeholder-shown) + .form__line {
  transform: scale(0);
}

@media screen and (min-width: 700px) {
  .footer__container {
    flex-direction: row;
  }

  .links__container {
    flex-basis: 35%;
    align-items: start;
  }

  .nav__ul {
    text-align: start;
  }

  .form {
    width: 65%;
    margin-top: 0;
  }

  .nav__list {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1100px) {
  .links__container {
    flex-direction: row;
    flex-basis: 70%;
    justify-content: space-between;
  }

  .nav {
    flex-basis: 50%;
  }

  .nav__ul {
    margin-top: 0;
  }

  .nav__list {
    margin-bottom: 28px;
  }
}
